.checkout {
    background-color: #36688D;
    height: auto;
    padding: 1rem;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column-reverse;
    border: solid black 2px;

}

.footer {
    background-color: #F49F05;
    height: 3rem;
    font-family: 'Merriweather', serif;
}

.header {
    background-color: #F18904;
    width: 100vw;
    font-family: 'Merriweather', serif;

}

.search {
    padding: 1.5rem;
    background-color: #36688D;
    border-left: solid, 2px black;
    border-top: solid, 2px black;
    border-right: none;
    border-bottom: solid, 2px black;
}

input {
    padding-left: 15px;
    height: 2rem;
    width: 15rem;
}

.booklist {
    height: auto;
    padding: 15px;
    font-family: 'Merriweather', serif;
}


